*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(004.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.testimonial{
    padding:30px 100px;

}

article h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(223, 75, 75);
    text-transform: uppercase;

}
article h1::after{
    content: "";
    height: 4px;
    width: 250px;
    background-color: #fff;
    /* position: relative; */
    display: block;
    margin: auto;

}
article img{
    height: 250px;
    width: 250px;
    border: 2px solid rgb(61, 36, 36);
    border-radius: 50%;
    margin-top: 30px;

}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(250, 245, 245);
    font-weight: bold;

}
article h5{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 600;

}
article p{
    font-size: 18px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5;
}